:root {
  --nav-bar: #eeeee;
  --red: #bf1922;
  --med-red: #6b000d;
  --dark-red: #7c0808;
  --white: #f2eeee;
  --black: #181818;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Alumni Sans", sans-serif;
}
.nav-bar-container {
    display: flex;
    gap: 0vw;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7vw;
}
.block1 {
  height: 7vw;
  width: 40vw;
  background-color: var(--dark-red);
}

.nav-bar {
  width: 60vw;
  background-color: var(--red);
  display: flex;
  height: 7vw;
  justify-content: space-around;
  align-items: center;
  line-height: 5vw;
}
.nav-link {
  color: var(--white);
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
}
.nav-link a {
  color: var(--white);
  text-decoration: none;
}
.nav-link:hover {
  color: var(--med-red);
}

.calendar-intro {
  margin-top: 5vh;
  margin-bottom: 2vh;
  text-align: center;
}

.calendar-intro h3 {
  font-size: 5vw;
  color: var(--dark-red);
  margin-bottom: 0vh;
}

.calendar-intro p {
  font-size: 1.5vw;
  color: var(--black);
}


.main-content {
  padding: 20px;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  border: 1px solid #ccc;
}

.calendar-header {
  display: grid;
  grid-template-columns: 60px repeat(7, 1fr); /* first column for times */
  background-color: #fff;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}

.time-label {
  border-right: 1px solid #ccc;
}

.day-header {
  border-left: 1px solid #ccc;
  padding: 5px 0;
}

.calendar-body {
  display: grid;
  grid-template-columns: 60px repeat(7, 1fr);
}

.time-cell {
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 2px;
  font-size: 10px;
  text-align: center;
  background-color: #f9f9f9;
}

.cell {
  border: 1px solid #eee;
  cursor: pointer;
  height: 20px;
}

.cell.selected {
  background-color: var(--red);
}


.footer {
  background-color: var(--red);
  color: var(--white);
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}