:root {
  --nav-bar: #eeeee;
  --red: rgb(213,32,39);
  --white: rgb(255, 255, 255);
}
* {
  margin: 0;
  padding: 0;
  font-family: "Alumni Sans", sans-serif;
}
#nav-bar {
  background-color: var(--red);
  display: flex;
  height: 7vw;
  justify-content: space-around;
  align-items: center;
  line-height: 5vw;
}
.nav-link {
  color: var(--white);
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
}
.nav-link a {
  color: var(--white);
  text-decoration: none;
}
.content-container {
  display: flex;
  height: 30vh;
  gap: 40px;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
}
.left-content {
    margin-top: 200px;
  margin-left: 1vw;
  width: 55vw;
}
.left-content h3 {
  font-size: 60px;
  margin-bottom: 20px;
}
.left-content h3 i {
  color: var(--pink);
}
.left-content p {
  font-size: 22px;
}
.left-content a {
  text-decoration: line-through;
}
.right-content img {
  width: 500px;          /* set width */
  height: 500px;         /* set same height → square */
  object-fit: cover;     /* crop it visually instead of stretching */
  object-position: 40% 50%; /* default: center center */
  border-radius: 50%;
  margin-top: 300px;
  border: 10px solid var(--red); /*change to dark red */
}
