
:root {
  --nav-bar: #eeeee;
  --red: rgb(213,32,39);
  --dark-red: rgb(143,0,0);
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
}
* {
  margin: 0;
  padding: 0;
  font-family: "Alumni Sans", sans-serif;
}
#nav-bar {
  background-color: var(--dark-red);
  display: flex;
  height: 7vw;
  justify-content: space-around;
  align-items: center;
  line-height: 5vw;
}
#nav-bar img{
    width: 220px;
    height: 40px;
}
.nav-link {
  color: var(--white);
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
}
.nav-link.current {
  text-decoration: underline;  /* underlines the current page link */
  font-weight: bold;           /* optional: make it bold */
  color: var(--white);         /* optional: make color match your theme */
}
.nav-link-a {
  background-color: var(--dark-red);
  color: var(--white);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-size: 25px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  text-decoration: none;
}
input[type="text"] {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid rgb(213, 32, 39);
  font-size: 18px;
  width: 47vh;
}

.content-container {
  display: flex;
  gap: 20px;
  justify-content: left;
  align-items: center;
  background-color: var(--white);
}
.left-content {
  margin-left: 3vh;
  width: 55vw;
  margin-top: 2vh;
}

.left-content h3 {
  font-size: 60px;
  margin-bottom: 10px;
}
.left-content p {
    gap: 8vh;
    font-size: 22px;
}

